.comment {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
}

.avatar {
    width: calc(3rem + 12px);
    height: calc(3rem + 12px);
    border-radius: 20%;
    border: 5px solid var(--gray-600);
    outline: 2px solid var(--green-500);
    margin-right: 1rem;
}

.commentBox {
    flex: 1;

}

.commentContent {
    background: var(--gray-700);
    border-radius: 8px;
    padding: 1rem
}

.commentContent p {
    font-size: 0.8rem;
    line-height: 2rem;
}

.commentContent header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.authorAndTime {
    display: flex;
    flex-direction: column;
}

.authorAndTime strong {
    font-size: 0.875rem;
    line-height: 1.6;
}

.authorAndTime time {
    font-size: 0.7rem;
    line-height: 1.6;
    color: var(--gray-400);
}

.commentContent header button {
    background: transparent;
    border: 0;
    color: var(--white);
    cursor: pointer;
    line-height: 0;
}

.commentContent header button :hover {
    color: var(--red-500);
}

.commentBox footer {
    margin-top: 1rem;
}

.commentBox footer button {
    background: transparent;
    border: 0;
    color: var(--gray-400);
    cursor: pointer;
    display: flex;
    align-items: center;
}

.commentBox footer :hover {
    color: var(--green-300);
}

.commentBox footer button svg {
    margin-right: 0.5rem;
}

.commentBox footer button span::before {
    content: "\2022";
    padding: 0 0.25rem;
}
