.header {
    background: var(--gray-800);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.25rem 0;
}

.header img {
    padding-right: 0.5rem;
    height: 2rem;
}